<h1>Sign Up Below:</h1>
<form method = "post" action = "/registrations">
    <lable for="name">name</label>
    <input type = "string" name = "name"></br>
    <label for="email">email</label>
    <input type = "string" name = "email"></br>
    <label for="password">password</label>
    <input type = "string" name = "password"></br>
    <input type = "submit" value="Sign Up">
</form>

